/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Segoe UI ,Arial, sans-serif;
}

.clear{
    clear: both;
}

.white-text{
    color: #fff;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    height: 46.4px;
    background-color: #000;
    width: 100%;
    z-index: 1;
}

#nav{
    display: inline-block;
}

ul#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

ul#nav li a{
    text-decoration: none;
    line-height: 46.4px;
    display: inline-block;
    padding: 0 24px;
}

ul#nav li{
    list-style: none;
}

ul#nav > li{
    display: inline-block;
}

ul#nav .subnav li:hover a,
ul#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

ul#nav .subnav li a{
    color: #000;
    display: block;
    padding: 0 12px;
}

ul#nav li:hover .subnav{
    display: block;
}

ul#nav ul.subnav{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    display: none;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46.4px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46.4px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider2.jpg) top / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    color:#fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 450;
    margin: 10px 0;
}

#slider .text-description{
    font-size: 15px;
    margin: 15px 0;
    font-weight: 650;
}


#content {

}

#content .content-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 64px 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading{
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
}

#content .about-text{
    text-align: justify;
    margin: 16px 0;
    line-height: 1.4;
}

#content .member-container{
    padding: 32px 0;
}

#content .member-item{
    float: left;
    width: calc(100% / 3);
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    width: 158px;
    border-radius: 4px;
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #fff;
    text-align: left;
    list-style: none;
    margin-bottom: 32px;
}

.ticket-list .ticket-item{
    font-size: 15px;
    color: #757575;
    padding: 8px 16px;
    border-bottom: #ddd solid 1px;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0px 8px 1px;
}

.ticket-list .ticket-quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin-top: -1px;
    margin-right: 18px;
}

.places-list{
    margin: 0px -8px;
    padding-bottom: 52px;
}

.places-list-items{
    float: left;
    width: 33.33%;
    padding: 0 8px;
    font-size: 15px;
}

.places-item-body{
    background-color: #fff;
    text-align: left;
    padding: 15px 16px 15px;
}

.places-heading{
    font-size: 15px;
    margin: 0 0 15px;
}

.places-date{
    margin-bottom: 15px;
    color: #757575;
}

.places-content{
    margin-bottom: 15px;
    line-height: 1.4;
}

.places-img{
    width: 100%;
    display: block;
}

.places-btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
}

.places-img:hover{
    opacity: 0.6;
}

.places-btn:hover{
    background-color: #ccc;
    color: #000;
}

#footer {

}
