/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato' ,Arial, sans-serif;
    scroll-behavior: smooth;
}

.clear{
    clear: both;
}

.white-text{
    color: #fff;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.3333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    height: 46.4px;
    background-color: #000;
    width: 100%;
    z-index: 1;
}

#nav{
    display: inline-block;
}

ul#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

ul#nav li a{
    text-decoration: none;
    line-height: 46.4px;
    display: inline-block;
    padding: 0 24px;
}

ul#nav li{
    list-style: none;
}

ul#nav > li{
    display: inline-block;
}

ul#nav .subnav li:hover a,
ul#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

ul#nav .subnav li a{
    color: #000;
    display: block;
    padding: 0 12px;
}

ul#nav li:hover .subnav{
    display: block;
}

ul#nav ul.subnav{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#header .mobile-menu-icon,
#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46.4px;
    
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46.4px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider2.jpg) top / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    color:#fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 450;
    margin: 10px 0;
}

#slider .text-description{
    font-size: 15px;
    margin: 15px 0;
    font-weight: 650;
    text-shadow: 0 0 1px #000;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 64px 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading{
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
}

#content .about-text{
    text-align: justify;
    margin: 16px 0;
    line-height: 1.4;
}

#content .member-container{
    padding: 32px 0;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    width: 158px;
    border-radius: 4px;
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #fff;
    text-align: left;
    list-style: none;
    margin-bottom: 32px;
}

.ticket-list .ticket-item{
    font-size: 15px;
    color: #757575;
    padding: 8px 16px;
    border-bottom: #ddd solid 1px;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px 1px;
}

.ticket-list .ticket-quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin-top: -1px;
    margin-right: 18px;
    padding-top: 4px;
}

.places-list{
    padding-bottom: 52px;
    font-size: 15px;
    margin-top: -16px;
}

.places-item-body{
    background-color: #fff;
    text-align: left;
    padding: 15px 16px 15px;
}

.places-heading{
    font-size: 15px;
    margin: 0 0 15px;
}

.places-date{
    margin-bottom: 15px;
    color: #757575;
}

.places-content{
    margin-bottom: 15px;
    line-height: 1.4;
}

.places-img{
    width: 100%;
    display: block;
}

.places-btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    border: none;
}

.places-img:hover{
    opacity: 0.6;
}

.places-btn:hover,
.form-contact-submit:hover
{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Contact Section */
.contact-container{
    text-align: left;
    padding: 32px 0;
}

.contact-container .contact-info{
    font-size: 18px;
}

.contact-info i{
    width: 30px;
}

.contact-info a{
    color: #2196f3;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.info-form{
    
}

.info-input{
    padding: 8px;
    display: inline-block;
    width: 100%;
    font-size: 15px;
    border: 1px solid #ccc;
}

.form-contact-submit{
    float: right;
    padding: 9px 15px;
    background: #000;
    color: #fff;
    border: none;
}

/* Map section */
.map img{
    width: 100%;
}

/* footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    text-decoration: none;
    color: #000;
}

#footer .copy-right{
    font-size: 15px;
    margin: 15px 0;
}

#footer .copy-right a{
    color: #000;
}

#footer .social-list i:hover{
    opacity: 0.4;
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    width: 900px;
    max-width: calc(100% - 50px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: fadeIn .6s;
}

.modal-header{
    height: 130px;
    background-color: #009688;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.modal-close{
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    padding: 8px;
    cursor: pointer;
}

.modal-close:hover{
    opacity: 0.9;
}

.modal-body{
    padding: 16px;
    font-size: 15px;
}

.modal-label{
    display: block;
    margin-bottom: 15px;
}

.modal-input{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
}

#buy-tickets{
    display: block;
    background-color: #009688;
    width: 100%;
    padding: 16px;
    color: #fff;
    border: none;
}

#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer{
    font-size: 15px;
    padding: 0 16px 16px;
}

.modal-help{
    text-align: right;
}

/* #2196F3 */
.modal-link{
    color: #2196f3;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}